<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Document</title>
</head>
<body>
    <h2>Оставте отзыв</h2>
    {% if got_error %}
        <p>Введите имя!</p>
    {% endif %}
    <form action="/" method="post">
        {% csrf_token %}
        <label for="first_name_id">First name:</label><br>
        <input type="text" id="first_name_id" name="name">
        <br><br>
        <label for="last_name_id">Last name:</label><br>
        <input type="text" id="last_name_id" name="surname">
        <br><br>
        <label for="feedback_id">Reviews:</label><br>
        <textarea name="feedback" id="feedback_id" cols="30" rows="10"></textarea>
        <br><br>
        <label for="gender">Gender: </label>
        <select id="gender" name="gender">
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
        <br><br>
        <Button type="submit">Submit</Button>
    </form>
</body>
</html>