{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel = "stylesheet" href = "{% static 'feedback/css/style.css' %}">
</head>
<body>
    <h2>Оставте отзыв</h2>
    {% if got_error %}
        <p>Введите имя!</p>
    {% endif %}
    <form action="/" method="post">
        {% csrf_token %}
        {% for filed in form %}
        <div class = "form-style {% if filed.errors %}errors{% endif %}">
            {{filed.label_tag}}
            {{filed.errors}}
            {{filed}}
        </div>
        {% endfor %}
        
        <Button type="submit">Submit</Button>
    </form>
</body>
</html>